@CHARSET "UTF-8";

body {
	font-size: 10pt; 
	text-align: center;
}

table {
	font-size: 10pt;
	text-align: center;
	border: 1px solid gray;
}

select {
	font-size: 10pt; 
}

form {
	font-size: 10pt; 
}

p{
	font-weight: 700;
}

td {
	font-size: 10pt;
}